#title {
  text-align: center;
  font-size: 50px;
  color: #061539;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption {
  text-align: center;
  font-size: 14px;
  color: #FFE3AA;
}

#img-div {
	background-color: #2E4272;
	padding: 20px;
	border-radius: 5px;
}

p {
  font-size: 20px;
  margin-left: 2em;
  color: #061539;
}

body {
	background-color: #2E4272;
}

#main {
	background-color: #FFE3AA;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
}

ul {
	color: #061539;
}

h2 {
	color: #061539;
}